
<div class="row" *ngIf="productarr.length > 0; else noproduct">
    <div class="col-md-4 mt-5" *ngFor="let product of productarr;">
        <mat-card class="card product-card h-100 example-card">
            <img [src]="product.image" class="card-img-top  product-img">
            <div class="card-body d-flex flex-column">
                <h5><strong>Product Title : {{product.title}}</strong></h5>
                <p class="text-mutated small"> <strong>Product description : {{product.description}}</strong></p>
                <div class="mt-auto">
                    <h6 class="text-primary"><strong>Product Price : {{product.price}}</strong></h6>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button (click)="onEdit(product)" mat-mini-fab color="primary" class="btn-sm"><mat-icon>edit</mat-icon></button>
                <button (click)="onremove(product.id)" mat-mini-fab color="warn" class="btn-sm"><mat-icon>delete</mat-icon></button>
            </div>
        </mat-card>
    </div>
</div>
<ng-template #noproduct>
    <p class="alert alert-info">No Product Added Yet !!</p>
</ng-template>